# go build
/serve/go-bulid

# Misc
.DS_Store
.fleet
.idea

# Python files
__pycache__

# Nuxt dev/build outputs
/web/.output
/web/.data
/web/.nuxt
/web/.nitro
/web/.cache
/web/dist

# Node dependencies
/web/node_modules

# Logs
/web/logs
*.log

# Local env files
.env
.env.*
!.env.example

# Dependency files
/web/pnpm-lock.yaml
/web/pnpm-workspace.yaml

# Server logs
/serve/logs